//import
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");

// color
$soundBtnColor: #c18cfa;
$questionColor: #c1b2dd;
$processColor: #9e5ef8;
$processAnswered: #f8e59c;
$processCorrect: #5af59d;
$processWrong: #f55a98;
$answerColor: #6cb7f5;
$bgQuizContainer: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
$bgStartQuiz: linear-gradient(180deg, #a17eda 0%, #895fc4 100%);
// fonts
$font-body: "Roboto Condensed", sans-serif;

//components
@mixin btnStart {
  font-family: $font-body;
  background-color: #c18cfa;
  color: #3a2353;
  border: 3px solid #3a2353;
  font-size: 30px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 5px 10px;
  letter-spacing: 0.3rem;
}

@mixin btnStartHover {
  background-color: #b16afd;
  transition-duration: 200ms;
}

@mixin btnAnswer {
  display: inline-block;
  width: 100%;
  font-family: $font-body;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  background: $answerColor;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

@mixin btnAnswerHover {
  background: #9d5af5;
  color: white;
}
