@import "../../Variables/Variable.scss";

.start {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: $bgStartQuiz;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start img {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  border: 2px solid #3a2353;
  border-radius: 50%;
  background: $soundBtnColor;
}

.start button {
  @include btnStart();
  &:hover {
    @include btnStartHover();
  }
}
